body {
  margin: 0em;
  padding: 0em;
  font-family: Gill Sans, sans-serif;
  background-color: #667e98;
  color: lightsteelblue;
}

ul {
  list-style: none;
  padding: 0em;
  margin: 0em;
}

body.index {
  padding: 1em;
  text-align: center;
}

#boards {
  background: linear-gradient(to top, rgba(56,70,84,0.5) 0%, rgba(125,185,232,0) 100%);
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  border-bottom: 0.18em solid #384654;
}

#boards:hover {
  cursor: move;
}

#boards .board {
  vertical-align: bottom;
  display: inline-block;
  border: solid 0.18em #384654;
  border-radius: 0em 0.6em;
  height: 1.8em;
  padding: 0.6em 1.2em 0em 1.2em;
  margin: 1.2em 0em 1.2em 0.6em;
  background-color: #acb6bf;
  box-shadow: inset 0 0 1em #607080;
  color: white;
}

#boards .board:first-child {
  margin-left: 1.2em;
}

#boards .board:last-child {
  margin-right: 1.2em;
}

#boards .board:hover, #boards .board.selected:hover {
  color: #607080;
  box-shadow: inset 0 0 1em white;
  cursor: pointer;
}

#boards .board.empty, #boards .board.edit {
  color: gray;
  min-width: 9em;
}

#boards .board.selected {
  color: #607080;
  box-shadow: inset 0 0 1em #e6e4c3;
}

#notes {
  float: left;
  padding: 1.6em 0em 1.2em 1.2em;
}

#notes .note {
  border: solid 0.1em dimgray;
  float: left;
  height: 4.8em;
  padding: 0.6em 1.2em;
  margin-right: 1.2em;
  margin-bottom: 1.2em;
  width: 12em;
  background: linear-gradient(to top, #F5F5E0 0%, #E7E7B6 100%);
  box-shadow: inset 0 0 2em white, 0 0 1em black;
  color: black;
  font-weight: bold;
}

#notes .note:hover {
  cursor: pointer;
}

#notes .note.empty {
  color: gray;
}

#notes .note.selected {
  background: linear-gradient(to top, #F5F5E0 0%, white 100%);
}
